.venv
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.env

# Image directories
data/mm_updated/images/
data/multimodal_data/images
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.tiff
*.webp
*.jsonl
*.json 
*.pt 
*.zip
*.safetensors
